body{
    margin: 0px;
    padding: 0px;
    h1{
        margin: 0px;
        text-align: center;
        background-color:rgb(140, 157, 163);
        color: white;
        padding: 20px 0px;

    }
    hr{
        height: 5px;
        background-color: rgb(140, 157, 163);
        width: 60%;
    }
    a{
        text-decoration: none;
        color: black;
        margin-right: 30px;
        background-color: cadetblue;
        padding: 3px;
        &:hover{
            color: white;
        }
    }
    img{
        background-size: cover;
    }
    table{
        width: 600px;
        border: 10px inset black;
            color: brown;
            border: 3px solid black;
        }
    }
}