body {
  margin: 0px;
  padding: 0px;
}
body h1 {
  margin: 0px;
  text-align: center;
  background-color: #8c9da3;
  color: white;
  padding: 20px 0px;
}
body hr {
  height: 5px;
  background-color: #8c9da3;
  width: 60%;
}
body a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  background-color: cadetblue;
  padding: 3px;
}
body a:hover {
  color: white;
}
body img {
  background-size: cover;
}
body table {
  width: 600px;
  border: 10px inset black;
}
body table td {
  color: brown;
  border: 3px solid black;
}